.container {
    display: flex;
    flex-flow: row nowrap;
    width: 1280px;
    margin: auto;
    margin-top: 120px;
    justify-content: flex-start;
}

.listItem {
    list-style: none;
    padding: 0;
    padding-top: 2px;
}

.listItem__item {
    width: 320px;
    height: 64px;
}

.item {
    text-decoration: none;
    color: #8585AD;
    margin-left: 28px;
}

.item_type_active {
    color: #F2F2F3;
}

.inputsContainer {
    margin-left: 60px;
}

.input {
    margin-top: 24px;
}

.buttonExit {
    color: #8585AD;
    background-color: #131316;
    margin-left: 28px;
}

.buttonExit:hover {
    cursor: pointer;
    
}