.container {
    display: flex;
    flex-flow: row nowrap;
    width: 64.6%;
    margin: auto;
    max-height: 750px;
}

.title {
    width: 64.6%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 18px;
    padding-left: 5px;
}

.containerOrder {
    display: flex;
    flex-direction: column;
    width: 49%;
    /* width: 50%; */
    overflow-y: auto;
}

.containerOrder::-webkit-scrollbar {
    width: 7px;
}

.containerOrder::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.containerOrder::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.containerOrder__lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

.containerInfo {
    composes: containerOrder;
    overflow: hidden;
    /* margin-left: 97px; */
    width: 50%
}

.containerInfo__lists {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-left: 20px;
}

.containerInfo__statistic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 52px;
    height: 100%;
    max-height: 360px;
}
