.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 480px;
    height: 240px;
    margin: 11px;
}

.title {
    margin-top: 6px;
}

.list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 520px;
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

.item {
    width: 120px;
    text-align: center;
    color: #8585AD;
}

.item__title {
    margin-bottom: 8px;
}