.container_type_withModal {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    width: 88.7%;
}

.container_type_withOutModal {
    composes: container_type_withModal;
    margin: auto;
    margin-top: 120px;
    max-width: 638px;
}

.orderNumber {
    text-align: center;
}

.title_type_withModal {
    width: 100%;
    max-width: 640px;
    max-height: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title_type_withOutModal {
    composes: title_type_withModal;
    margin-top: 40px;
    margin-bottom: 5px;
}

.status {
    margin-top: 8px;
    margin-bottom: 60px;
}

.status_type_done {
    composes: status;
    color: #00CCCC;
}

.status_type_other {
    composes: status;
    color: #F2F2F3;
}

.lists {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
    margin: 0;
}

.lists::-webkit-scrollbar {
    width: 7px;
}

.lists::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.lists::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.info_type_withModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 40px 40px;
}

.info_type_withOutModal {
    composes: info_type_withModal;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 638px;
}

.price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
