.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}

.orderNumber {
    text-align: center;
}

.lists {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 500px;
}

.lists::-webkit-scrollbar {
    width: 7px;
}

.lists::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.lists::-webkit-scrollbar-track {
    background-color: #2F2F37;
}